.right-container .other .top-articles, .top-podcasts, .section-text{
	margin: 3rem auto;
}
.right-container .other .section-text{
	display: flex;
	justify-content: center;
	align-items: center;
}
.right-container .other .section-text h4{
	color: #777;
	animation: text-shake 4s infinite;
}
@keyframes text-shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.right-container .other .top-articles ul, .top-podcasts ul{
	margin-left: 2.0rem;
}
.right-container .other .top-articles ul li, .top-podcasts ul li{
	margin: 10px auto;
}
.right-container .other .top-articles ul li a, .top-podcasts ul li a{
	color: #2196F3;
}
.right-container .other .donation .content{
	margin-left: 2.0rem;
	margin-top: 15px;
}
.right-container .other .donation .content .methods img{
	margin-left: 0.3rem;
	margin-top: 20px;
	transform: scale(1.1);
}
.right-container .other .donation .content .methods img:hover{
	transform: translateY(-10px) scale(1.1);
	transition: .4s;
}